<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="/js/app.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    {{> top_menu}}
    <ul>
        {{#each names}}
        <li>{{toLowercase this}} -- {{@index}}</li>
        {{/each}}
    </ul>
    <p>Length {{names.length}}</p>
    {{#if author}}
        <h1>I am Author</h1>
    {{else}}
        <h1>I am not Author</h1>
    {{/if}}
</body>
</html>