<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrap_include}}
    <title>About | </title>
</head>
<body>
    {{> top_menu}}
</body>
</html>