<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrap_include}}    
    <title>Log In | Dashboard</title>
</head>
<body>

    {{> top_menu}}

    <h1>Welcome Express</h1>
    <h1>{{name}}</h1>
    <h2>{{email}}</h2>
    <h1>Department {{info.department}}</h1>
    <h1>Grade {{info.grade}} </h1>
    <h1>If and Else</h1>

    {{#if showHeading}}
        <h1>In If</h1>
    {{else}}
        <h1>In Else</h1>
    {{/if}}

    <ul>
        {{#each nameArr}}
            <li>Index {{@index}} Value {{upperCase this }}</li>
        {{/each}}
        
    </ul>
    <h1>{{ nameArr.[0] }}</h1>
</body>
</html>