<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="POST" action="/index">
                    <div class="form-group">
                        <label>Enter Email</label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label>Enter Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <button class="btn btn-primary" type="submit"> Log In</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>