<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link text-white" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>